<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>

  <div id="root">

    <div class="control">
      <input type="text" name="" value="" v-model="search">
      <button type="button" name="button" @click="ricerca">Cerca</button>
    </div>

    <div class="container">
      <div class="card" v-for="film in filmSearched">
        <p>Titolo: <br>{{film.title}}</p>
        <p>Titolo Originale: <br> {{film.original_title}}</p>
        <p>Lingua: <br> {{film.original_language}}</p>
        <p>Voto: <br> {{film.vote_average}}</p>
      </div>
    </div>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
