*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.control {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control input {
  outline: none;
  padding: 5px 15px;
}

.control button {
  outline: none;
  padding: 5px 15px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.control button:hover {
  transform: scale(1.02)
}

.control > * {
  margin: 0 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 300px;
  margin: 10px 10px;
  background: white;
  text-align: center;
}

.card > * {
  padding: 10px 10px;
}
